﻿@model TicketService.Models.TrainTicket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassengerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassengerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainScheduleID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainScheduleID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
